[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/stephan/Schreibtisch/ELTERNGELD]
row=6
col=0

[/home/stephan/Schreibtisch/DIEHOELLE.ods]
row=0
col=1

[/home/stephan/Schreibtisch/MUSIK-TMP]
row=4
col=0

[/home/stephan/Schreibtisch/Ueber1.txt]
row=2
col=1

[/home/stephan/Schreibtisch/FEIM]
row=3
col=0

[/home/stephan/Schreibtisch/KINDERGELD]
row=5
col=0

[/home/stephan/Schreibtisch/Uber.txt]
row=1
col=1

[Papierkorb]
row=0
col=0

[/]
row=1
col=0

[/home/stephan]
row=2
col=0

